<% layout('layouts/MilitaryUnit.ejs') -%>
<%- include('../../includes/MilitaryUnit/tableAll.ejs', militaryUnits) %>
<a href="/military-units/create" class="button text-decoration-none text-white">Додати в/ч</a>