<% layout('layouts/MilitaryUnit.ejs') -%>
<%- include('../../includes/MilitaryUnit/tableAll.ejs', militaryUnits) %>

<div class="mt-4 p-3">
    <a href="/military-units" class="button text-decoration-none text-white">Назад</a>
    <a href="/military-units/create" class="button text-decoration-none text-white">Додати в/ч</a>
</div>
