<form class="create-form p-5"
      action="/military-units/<%= militaryUnitId %>/units/<%= unit._id %>/edit"
      method="post">
    <div>
        <label for="name" class="">Назва підрозділу</label><br>
        <input id="name"
               class="input"
               value="<%= unit.name%>"
               name="name"
               required autofocus minlength="3"
               type="text"
               placeholder="Назва підрозділу">
    </div>

    <input type="hidden" id="url" name="url">

    <input type="submit" class="button button-add" value="Редагувати">
    <input type="button" class="button button-back" value="Назад" onclick="history.back();">
</form>

<script>
    const url = document.getElementById("url");
    url.value = document.referrer;
</script>