.unit-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.unit{
    margin-top: 250px;
    min-width: 700px;
    padding: 20px;
    border: 3px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 34px 35px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.name-unit{
    background: #eac917;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100px;
}

.group-add-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.empty-unit{
    color: crimson;
}