<!doctype html>
<html lang="en">
<%- include('../includes/MilitaryUnit/head.ejs') %>
<body>
<%- include('../includes/header.ejs') %>
<main class="military-unit main">
    <%- body -%>
</main>
</body>
</html>